<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Components: Action Sheets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="action-sheets-basic-page">
    <ion-button block (click)="openMenu()">
      Show Action Sheet
    </ion-button>

    <br />
    
    <ion-chip color="secondary">
      <ion-label color="dark">Chip</ion-label>
    </ion-chip>
    
    <ion-item>
      <ion-label>Check me</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
</ion-content>
